<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookstoreApp</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BookstoreApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container mt-4">

                <!-- App name -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                    📚 Bookstore
                </a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="mainNavbar">
                    <ul class="navbar-nav ms-auto">

                        <!-- Books list -->
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Home" asp-action="Index">
                                Home
                            </a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Books" asp-action="Index">
                                Books
                            </a>
                        </li>


                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container mt-4">
        <main role="main" class="pb-3">
            <div class="card p-4 mb-4">
                @RenderBody()
            </div>

        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container mt-4">
            &copy; 2026 - BookstoreApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

    <script>
        // small page fade effect
        document.addEventListener("DOMContentLoaded", () => {
            document.body.classList.add("loaded");
        });
    </script>

    @if (TempData["ToastMessage"] != null)
    {
        var toastType = TempData["ToastType"]?.ToString() ?? "success";
        var bgClass = toastType == "danger" ? "bg-danger" : "bg-success";

        <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 2000">
            <div id="appToast"
                 class="toast text-white @bgClass border-0"
                 role="alert"
                 aria-live="assertive"
                 aria-atomic="true">

                <div class="d-flex">
                    <div class="toast-body">
                        @TempData["ToastMessage"]
                    </div>
                    <button type="button"
                            class="btn-close btn-close-white me-2 m-auto"
                            data-bs-dismiss="toast">
                    </button>
                </div>

            </div>
        </div>

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                var toastEl = document.getElementById('appToast');
                var toast = new bootstrap.Toast(toastEl, { delay: 3000 });
                toast.show();
            });
        </script>
    }


</body>
</html>
